* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

input {
    margin: 1rem 0;
}

.ask-question-box {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 1rem;
    padding: 1rem;
    background-color: hotpink;
    border-radius: 10px;
}

.add-question-form {
    display: flex;
    flex-direction: column;
}

.text-field {
    font-size: 1.5rem;
}
.header {
    background-color: hotpink;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.site-title {
    font-family: 'Bungee Shade', cursive;
    font-size: 2.5rem;
    color: white;
    padding: 3rem;
}

.login-links {
    color: white;
    padding: 1rem;
}
.site-title a,
.login-links a {
    color: white;
    text-decoration: none;
}

.site-title a:hover, 
.login-links a:hover {
    color: rgb(240, 172, 234);
}

.question-box,
.question-detail-box,
.answer-box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}

.question-title a {
    text-decoration: none;
    color: hotpink;
}

.question-title a:hover {
    color: rgb(158, 60, 150);
}

.question-detail-title {
    color: hotpink;
    font-size: 2rem;
}

.question-detail-body {
    font-size: 1.5rem;
}

.created-at {
    color: #808080;
    font-size: .75rem;
    margin-top: .5rem;
}

.button {
    background-color: rgb(53, 184, 236);
    color: white;
    font-size: 1rem;
    width: fit-content;
    padding: 1rem;
    margin: .5rem;
    border-radius: 10px;
    /* font-stretch: ultra-expanded; */
}

.answer-form {
    margin: 1rem;
}

.answer-field {
    width: 500px;
}