{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noblubby Cares!</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
</head>
<body>
    <header class='header'>
        <h1 class='site-title'>
            <a href="{% url 'question-list' %}">Pee Pee Poo Poo</a>
        </h1>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>