{% extends 'base.html' %}

{% block content %}
<div class='question-detail-box'>
    <h2 class='question-detail-title'>{{ question.title }}</h2>
    <p class='question-detail-body'>{{ question.body }}</p>
    <p class='created-at'>{{ question.created_at }}</p>
    <p class='created_by'>Created by: {{ question.user }} </p>
</div>
<div class='answer-form'>
    <h3 class='answer-prompt'>Unleash your judgment, {{user}}:</h3>
    <form  action="" method='POST'>
      {% csrf_token %}
      <table class='answer-field'>
        {{ form.as_table }}
      </table>
      <input type='submit' class="button" value='JUDGE'>
    </form>
</div>



{% for answer in answers %}
<div class='answer-box'>
    <p class='answer-user'>{{ answer.user }} replied: </p>
    <p class='answer-body'>{{answer.body}}</p>
    <p class='created-at'>Judged: {{ answer.added_at }}</p>
</div>
{% endfor %}

{% endblock %}