{% extends 'base.html' %}

{% block content %}
<div class='question-detail-box'>
    <h2 class='question-detail-title'>{{ question.title }}</h2>
    <p class='question-detail-body'>{{ question.body }}</p>
    <p class='created-at'>{{ question.created_at }}</p>
    <p class='created_by'>Created by: {{ request.user.username }} </p>
</div>
<form class='add-answer-form' id='add-answer'>
    <label for='question-body'>Answer</label>
    <textarea class='text-field' id='answer-body' rows='4'></textarea>
    <button class='button' id='answer-submit' type=submit>SPLAT</button>
</form>

{% for answer in answers %}
<div class='answer-box'>
    <h3>{{answer.body}}</h3>
</div>
{% endfor %}

{% endblock %}